# Table of Contents

## Lab
 
1. Import the data set into Jupyter as a new dataframe: df_ords_prior.
2. Check the dimensions of the imported dataframe.
3. Merge the dataframe with your df_ords dataframe.
4. Use the indicator argument to check whether there was a full match between the two dataframes.

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

# setting master path
path = r'/Users/Norberto/Desktop/2023-10 Instacart Basket Analysis'

### 1. Import the data set into Jupyter as a new dataframe: df_ords_prior.

In [2]:
# read csv files
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [3]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### 2. Check the dimensions of the imported dataframe.

In [4]:
print(df_ords_prior.shape)
print(df_ords.shape)

(32434489, 4)
(3421083, 6)

### 3. Merge the dataframe with your df_ords dataframe.
### 4. Use the indicator argument to check whether there was a full match between the two dataframes.

In [5]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
df_merged_large.shape

(32434489, 10)

In [8]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))